<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <title>Infografía Balance social</title>

    <!-- CSS -->
    <link href="https://fonts.cdnfonts.com/css/veneer-2?styles=93733" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/source-sans-pro" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet" />

  </head>

  <body {% block bodyattrs %}{% endblock%}>

<header>
    <div class="corazon">
        <div class="titulo">
            Grupo Cooperativo Tangente<br>
            <em>enseña el corazón</em>
        </div>
    </div>

    <div class="mes titulo">
        Balance social <em> de la Economía Social y Solidaria</em> 2023
    </div>

    <div class="personas-porcent">
        <p><strong class="cifra cifra3">58,5%</strong> mujeres </p>
        <p><strong class="cifra cifra3">38%</strong> hombres </p>
        <p><strong class="cifra cifra3">8,5%</strong> identidades<br>no binarias </p>
    </div>

    <div class="personas-numero">
        <p><span class="label label1">Trabajadoras</span> <strong class="cifra cifra3">398</strong> </p>
        <p><span class="label label1">Voluntarias</span> <strong class="cifra cifra3">385</strong> </p>
        <p><span class="label label1">Asociadas</span><strong class="cifra cifra3">2.799</strong> </p>
    </div>

    <div class="personas text-center">
        <span class="cifra cifra2">4.628</span>      
        <span class="label label3">Personas de la <br>organización</span>
             
    </div>

    <div class="columnas">
        <div>
            <span class="label label2">Ingresos</span>
            <span class="cifra cifra4">12,5 M€</span>              
        </div>

        <div>
            <span class="label label2">Gastos</span>
            <span class="cifra cifra4">11,9 M€</span>              
        </div>

    </div>
    
</header>

<div class="columna1">
    <section id="equidad">
        <h2 class="titulo">Equidad</h2>

        <div class="columnas">
            <div class="text-center">
                <span class="cifra cifra1">57%</span>
                <span class="label label1">Mujeres en puestos <br>de responsabilidad</span>
                <span class="description"></span>
            </div>

            <div class="text-center">
                <span class="cifra cifra1">98%</span>
                <span class="label label1">Brecha salarial entre hombres y mujeres</span>
                <span class="description"></span>
            </div>

            <div class="text-center">
                <span class="cifra cifra1">1,55</span>
                <span class="label label1">Proporción salarial entre la plantilla</span>
                <span class="description"></span>
            </div>
        </div>

        <ul class="checklist">
            <li> Difusión de salarios a la plantilla <div class="check"></div></li>
        </ul>
    </section>       

    <section id="sostenibilidad">
        <h2 class="titulo">Sostenibilidad ecológica</h2>
        <ul class="checklist">
            <li> Sistema de gestión ambiental <div class="check"></div></li>
            <li> Sensibilización ambiental a nivel interno <div class="check"></div></li>
            <li> Divulgación ambiental a nivel externo <div class="check"></div></li>
            <li> Medidas de reducción de impacto ambiental<br>y divulgación a nivel externo<div class="check"></div></li>
            <li> Energía 100% renovable <div class="check"></div></li>
        </ul>
    </section>    

    <section id="trabajo">
        <h2 class="titulo">Trabajo digno</h2>

        <ul class="checklist">
            <li> Espacios de atención emocional y cuidado <div class="check"></div></li>
            <li> Reglamento interno de relaciones laborales <div class="check"></div></li>
            <li> Medidas que mejoran la ley de conciliación <div class="check"></div></li>
        </ul>

    </section>    
</div>

<div class="columna2">
    <section id="cooperacion">
        <h2 class="titulo">Cooperación y</h2>
        <h2 class="titulo secundario"> compromiso con el entorno</h2>

        <aside>
            <span class="cifra cifra1">57%</span>
            <span class="label label1">Compras dentro de <br>la Economía Social</span>
        </aside>


        <ul class="checklist">
            <li> Intercooperación <br>con mismo sector compartiendo: </li>
            <li> Local <div class="check"></div></li>
            <li> Conocimiento <div class="check"></div></li>
            <li> Gestión <div class="check"></div></li>
            <li> Proyectos <div class="check"></div></li>
        </ul>

         <ul class="checklist secundario">
            <li> Opera con <br>finanzas éticas <div class="check"></div> </li>
         </ul>

    </section>    

    <section id="riqueza">
        <h2 class="titulo">Reparto justo de la riqueza</h2>

        <h3 class="titulo t1 text-center"> Fuentes de ingresos </h3>

        <div class="reparto">
        <h3 class="titulo t2 text-center"> Reparto de beneficios </h3>

         <div class="columnas">
            <div class="text-center">
                <span class="cifra cifra2">50<small>MIL</small>€</span>
                <span class="label label1">A empresas o personas socias</span>
                <span class="description"></span>
            </div>

            <div class="text-center">
                <span class="cifra cifra2">70<small>MIL</small>€</span>
                <span class="label label1">A compensación <br>de pérdidas</span>
                <span class="description"></span>
            </div>

            <div class="text-center">
                <span class="cifra cifra2">11<small>MIL</small>€</span>
                <span class="label label1">A reservas</span>
                <span class="description"></span>
            </div>
        </div>
        </div>

    </section> 
</div>

<footer>
    <div class="seccion promueve">
        PROMUEVE
        <div class="logos"></div>
    </div>
    <div class="seccion enlaces">
        esasturies.org | info@esasturies.org<br>
        reas.red | www.mercadosocial.net
    </div>
    <div class="seccion colabora">
        COLABORA
        <div class="logos"></div>
    </div>
</footer>

</body>
</html>

