*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  height: 141.4vw;
  font-size:1vw;
  background-color: #999;
}

$color-main: #85b23d;
$color-equidad: #9165a1;
$color-sostenibilidad: #2a7840;
$color-trabajo: #db9427;
$color-cooperacion: #3ea4b7; 
$color-cooperacion2: #85b23d; 
$color-riqueza: #c42f43; 



[tabindex='-1']:focus { outline: 0 !important; }
body{ height:100%; background: #eaeaea; position: relative;}
html,body{margin: 0; padding: 0;}
p,h1,h2,h3{margin:0;font-weight: normal;}

.titulo{
  font-family: Veneer Three;
  font-size: 4vw;
  line-height: 0.84;
}

.titulo em{
  color:#85b23d;
  font-style: normal;
}

header{
    display: block;
    position: relative;
    height: 21%;
    background-color: #f3f3f3;

    .corazon{
        position:absolute;
        top:4vw;
        left:3.6vw;
        width:20vw;
    }

    .mes{
      position: absolute;
      right:3.6vw;
      top:4vw;
      width:30vw;
      text-align: right;
    }
}

.label{
  text-transform: uppercase;
  font-size:1.4rem;
}

.cifra1{}
.cifra2{}
.cifra3{
  display: block;
  font-weight: bold;
  font-size: 2.7rem;
}

.personas-porcent{
    position: absolute;
    right:50%;
    bottom: 3.5vw;
    text-align: right;
    padding-right:0.4vw;
    border-right: 0.25vw solid #111;

    p{
      margin-top:1.5rem;
      font-size:1.3rem;
      text-transform: uppercase;
      line-height: 1;
    }

    strong{
      margin-bottom: -0.1rem;
    }
}

.personas-numero{
    position: absolute;
    left:51%;
    bottom: 3.5vw;
    padding-left:0.4vw;
    border-left: 0.25vw solid #85b23d;
    color:#85b23d;

    p{
      margin-top:1.1rem;
    }
}

.columna1{ position:absolute; height:72%; top:21%; width: 53.5vw; border-right: 0.8vw solid #fff; }
.columna2{ position:absolute; height:72%; top:21%; left:53.5vw; width:46.5vw;}

ul.checklist{
  font-family: Veneer Three;
  list-style:none;
  padding:0;
  margin:0;
  padding-right:3rem;
  font-size:2.25vw;
  position:absolute;

  li{
    margin-bottom: 0.4em;
  }
}

section{
  padding:2vw 3.5vw ;
  border-bottom: 0.8vw solid #fff;
  position:relative;
  width:100%;

  .titulo{
    position:absolute;
    top:6vw;
    left:40%;
    right:10%;
    font-size: 4.2vw;
  }

  .checklist{
    bottom:5%;
  }
}

#equidad{ 
  color:$color-equidad;
  height: 35%; 

}

#sostenibilidad{
  color:$color-sostenibilidad;
  height: 38%;

  .titulo{ top:4.5vw; }  
}

#trabajo{
  color:$color-trabajo;
  height: 27%;

  .titulo{ top:6vw; }
}

#cooperacion{
  color:$color-cooperacion;
  height:46%;

  .titulo{
    left:5.8%;     

    &.secundario{
      left:54%;
      color:$color-cooperacion2;
    } 
  }

  .checklist{
    width:50%;
  }
}

#riqueza{
  color:$color-riqueza;
  height:54%;
}

